<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>dev.neoism.Neoism</string>
  <key>CFBundleName</key>
  <string>Neoism</string>
  <key>CFBundleDisplayName</key>
  <string>Neoism</string>
  <key>CFBundleExecutable</key>
  <string>neoism</string>
  <key>CFBundleIconFile</key>
  <string>neoism</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleShortVersionString</key>
  <string>{{VERSION}}</string>
  <key>CFBundleVersion</key>
  <string>{{VERSION}}</string>
  <key>LSMinimumSystemVersion</key>
  <string>11.0</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.developer-tools</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>neoism</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>neoism</string>
      </array>
    </dict>
  </array>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Text and Source Code Document</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.plain-text</string>
        <string>public.text</string>
        <string>public.source-code</string>
        <string>net.daringfireball.markdown</string>
        <string>public.json</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Neoism Editable Document</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>md</string>
        <string>markdown</string>
        <string>json</string>
        <string>jsonc</string>
        <string>toml</string>
        <string>yaml</string>
        <string>yml</string>
        <string>rs</string>
        <string>py</string>
        <string>js</string>
        <string>jsx</string>
        <string>ts</string>
        <string>tsx</string>
        <string>go</string>
        <string>c</string>
        <string>h</string>
        <string>cpp</string>
        <string>hpp</string>
        <string>cs</string>
        <string>java</string>
        <string>rb</string>
        <string>php</string>
        <string>sh</string>
        <string>lua</string>
        <string>html</string>
        <string>css</string>
        <string>scss</string>
        <string>sql</string>
        <string>txt</string>
        <string>log</string>
        <string>ipynb</string>
        <string>neodraw</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
