<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
   <Package
      Name="Neoism"
      UpgradeCode="d0a67e9a-ead8-458d-81af-2211ff538d0c"
      Language="1033"
      Codepage="1252"
      Version="{{ .Version }}"
      Manufacturer="Neoism contributors"
      InstallerVersion="200">

      <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
      <WixVariable Id="WixUILicenseRtf" Value=".\misc\windows\License.rtf" />
      <Icon Id="NeoismIcon" SourceFile=".\misc\windows\neoism.ico" />
      <Property Id="APPRODUCTICON" Value="NeoismIcon" />
      <MediaTemplate EmbedCab="yes" />
      <ui:WixUI Id="WixUI_Minimal" />
      <Feature Id="ProductFeature" Title="ConsoleApp" Level="1">
         <ComponentRef Id="NeoismExe" />
         <ComponentRef Id="NeoismShortcut" />
         <ComponentRef Id="ModifyPathEnv" />
         <ComponentRef Id="ContextMenu" />
      </Feature>
      <!-- Application binaries -->
      <DirectoryRef Id="NeoismProgramFiles">
         <Component Id="NeoismExe">
             <File Id="NeoismExeFile" Source="{{ .Binary }}.exe" Name="neoism.exe" KeyPath="yes" />
         </Component>
      </DirectoryRef>
      <DirectoryRef Id="NeoismProgramMenu">
         <!-- Application shortcut -->
         <Component Id="NeoismShortcut" Guid="ce3f92be-0586-40b9-a6c8-ba3a3d589611">
             <Shortcut Id="NeoismShortcutFile" Name="Neoism" Description="A hardware-accelerated terminal-first editor workspace" Target="[NeoismProgramFiles]neoism.exe" Icon="NeoismIcon" />
             <RemoveFolder Id="NeoismProgramMenu" On="uninstall" />
             <RegistryValue Root="HKCU" Key="Software\Microsoft\Neoism" Name="installed" Type="integer" Value="1" KeyPath="yes" />
         </Component>
      </DirectoryRef>
      <DirectoryRef Id="NeoismProgramFiles">
         <!-- Add to PATH -->
         <Component Id="ModifyPathEnv" Guid="38015f32-365c-42ca-b4b9-dd1ef19b421d" KeyPath="yes">
            <Environment Id="PathEnv" Value="[NeoismProgramFiles]" Name="PATH" Permanent="no" Part="first" Action="set" System="yes" />
         </Component>
      </DirectoryRef>
      <StandardDirectory Id="ProgramFiles64Folder">
          <Directory Id="NeoismProgramFiles" Name="Neoism" />
      </StandardDirectory>
      <StandardDirectory Id="ProgramMenuFolder">
          <Directory Id="NeoismProgramMenu" Name="Neoism" />
      </StandardDirectory>
      <!-- Add context menu -->
      <Component Id="ContextMenu" Guid="cb9dfbaf-7569-4d1c-8275-f2bff7126bdd" Directory="TARGETDIR">
          <RegistryKey Root="HKCU" Key="Software\Classes\Directory\Background\shell\Open Neoism here\command">
             <RegistryValue Type="string" Value='[NeoismProgramFiles]neoism.exe --working-dir "%v"' KeyPath="yes" />
          </RegistryKey>
          <RegistryKey Root="HKCU" Key="Software\Classes\Directory\Background\shell\Open Neoism here">
             <RegistryValue Type="string" Name="Icon" Value="[NeoismProgramFiles]neoism.exe" />
          </RegistryKey>
      </Component>
   </Package>
</Wix>
